# Ignore virtual environments
venv/
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# But allow final processed data for Tableau
!data/breast_cancer_predictions.csv

# Ignore model binaries
models/*.pkl
